h1{ 
	color: #330066; text-align: center;  font-style: italic;
}

h3{
    text-align:center; color:#FF0000; font-size:24px; font-style: italic;
}

div{
    width: 760px; background-color:#FFF; border-style: solid; border-color: blue; border-width: 2px; margin: auto; 
}

h3 + p{
    text-align: center; font-size: 20px;
}

p{
	text-align: left;
}

span {
    background-color:yellow; font-weight: bold;
}

section > p::first-letter {
	color:#FF0000; font-size:50px; font-weight: bold; font-style: italic;

}

p.letterSpace{
	text-align:center; letter-spacing:5px;
}

img{
	width: 150px; height: 140px; float: left; margin-right:20px;
}

th{
	border: 1px solid black; color: #CC0000; border-right-color: gray;border-bottom-color: gray;
}

td{
	border: 1px solid black; border-right-color: gray;border-bottom-color: gray;
}


table {
    border: 2px solid grey; border-right-color: black;border-bottom-color: black;
}

tr:nth-child(even) {background-color: #999999;}

li {
    list-style-image: url('trillium.gif');
}



